{{ define "transactions_index" }}
<html lang="en">
  <head>
    <title>Transactions</title>
    <!--<link rel="stylesheet" href="/assets/style.css" />-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!--<link rel="stylesheet" href="/assets/styles.css" />-->
  </head>

  <body>
    <div class="container flex flex-col gap-10">
      {{ template "core_nav" . }}

      <div class="flex flex-row justify-end">
        <button
          hx-delete="/api/transactions/all"
          class="bg-red-400"
          hx-swap="none"
          hx-confirm="Are you sure you want to delete all transactions?"
        >
          Clear Transactions
        </button>
      </div>

      <article>
        <h2>Import from File</h2>
        <form
          hx-encoding="multipart/form-data"
          hx-swap="none"
          hx-post="/api/transactions/upload"
          _="on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100"
        >
          <input type="file" id="importFile" name="transactions" />
          <button>Submit</button>
          <progress
            class="margin-top-10"
            id="progress"
            value="0"
            max="100"
          ></progress>
        </form>
      </article>

      <input
        type="text"
        id="transactionsListFilter"
        onkeyup="filterTable('transactionsListFilter', 'transactionsList')"
        placeholder="filter transactions...."
      />

      <table id="transactionsList" class="h-24 striped">
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">SourceAccountName</th>
            <th scope="col">DestinationAccountName</th>
            <th scope="col">Tags</th>
          </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
          {{ range .transactions }} {{ template "transactions_table_row" . }}
          {{end}}
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/index.js"></script>
  </body>
</html>
{{ end }}
