{{ define "transactions_table_row" }}
<tr>
  <td>{{.Description}}</td>
  <td>{{.Amount}}</td>
  <td>{{.Category}}</td>
  <td>{{.Date}}</td>
  <td>{{.SourceAccount.Name}}</td>
  <td>{{.DestinationAccount.Name}}</td>
  <td>{{.Tags}}</td>
  <td></td>
</tr>
{{ end }}
