{{ define "core_nav" }}

<nav>
  <ul>
    <li><strong>MoneyBadger</strong></li>
  </ul>
  <ul>
    <li><a href="/accounts">Accounts</a></li>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="#">Bills</a></li>
    <li><a href="#">Budgets</a></li>
  </ul>
</nav>
{{ end }}
