{{ define "accounts/edit.tmpl" }}
<html lang="en">
  <head>
    <title>Accounts</title>
    <!--<link rel="stylesheet" href="/assets/style.css" />-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body>
    <div class="container flex flex-col">
      <h3>Edit Accounts</h3>
      <form hx-ext="json-enc" data-json-parse-data>
        <fieldset>
          <!--<label>
            ID
            <input name="ID" readonly value="{{ .ID }}" type="number" />
          </label>-->
          <label>
            Account Number
            <input name="AccountNumber" readonly value="{{ .AccountNumber }}" />
          </label>
          <label>
            Type
            <input name="Type" readonly value="{{ .Type }}" />
          </label>
          <label>
            Account Name
            <input name="Name" value="{{ .Name }}" />
          </label>
          <label>
            Initial Balance
            <input
              name="InitialBalance"
              value="{{ .InitialBalance }}"
              type="number"
            />
          </label>
          <label>
            Balance
            <input name="Balance" value="{{ .Balance }}" type="number" />
          </label>

          <div class="flex justify-center gap-4">
            <a
              href="/accounts"
              hx-put="/api/accounts/"
              hx-swap="none"
              hx-include="closest input"
              >Save</a
            >
            <a href="/accounts">Close</a>
          </div>
        </fieldset>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  </body>
</html>
{{ end }}
