{{ define "accounts/index.tmpl" }}
<html lang="en">
  <head>
    <title>Accounts</title>
    <!--<link rel="stylesheet" href="/assets/style.css" />-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!--<link rel="stylesheet" href="/assets/styles.css" />-->
  </head>

  <body>
    <div class="container">
      {{ template "core_nav" . }}
      <table>
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Account Number</th>
            <th scope="col">Account Name</th>
            <th scope="col">Initial Balance</th>
            <th scope="col">Balance</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
          {{ range .accounts }} {{ template "accounts_table_row" . }} {{end}}
        </tbody>
        <tfoot>
          <tr>
            <td>
              <a>New Account</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
{{ end }}
