{{ define "accounts_table_row" }}
<tr>
  <th scope="row">{{ .ID }}</th>
  <td>{{.Type}}</td>
  <td>{{.AccountNumber}}</td>
  <td>{{.Name}}</td>
  <td>{{.InitialBalance}}</td>
  <td>{{.Balance}}</td>
  <td>
    <details class="dropdown text-center">
      <summary class="text-center">Actions</summary>
      <ul>
        <li>
          <a
            href="#"
            hx-get="/api/template/accounts/accounts_edit_table_row/{{ .AccountNumber }}"
            hx-trigger="edit"
            onClick="let editing = document.querySelector('.editing')
                    // <!--change the editing to new row if clicked on a different row-->
                    if(editing) {
                      htmx.trigger(editing, 'cancel')
                      htmx.trigger(this, 'edit')
                    } else {
                      htmx.trigger(this, 'edit')
                    }"
          >
            Edit
          </a>
        </li>
        <li>
          <a
            hx-delete="/api/accounts/{{ .AccountNumber }}"
            hx-trigger="click"
            hx-target="closest tr"
            hx-swap="delete"
            hx-confirm="Are you sure you want to delete?"
            >Delete</a
          >
        </li>
      </ul>
    </details>
  </td>
</tr>
{{ end }}
